<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center">

    <a class="navbar-brand main-heading" href="{% url '' %}"> 
            
      &nbsp; ProjectX
    
    </a>
  
  
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
  
    </button>
  
  
      <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
  
        
        <ul class="navbar-nav mr-auto">
  
  
          &nbsp;     &nbsp;     &nbsp; 
  
          {% if user.is_authenticated %}
  
            <li class="nav-item">       
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard &nbsp; <i class="fa fa-home" aria-hidden="true"></i> </a>
  
            </li>
        

              &nbsp;     &nbsp;     &nbsp; 


            {% if request.user.is_authenticated and request.user.profile.role == 'admin' %}
              <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'manage-roles' %}"> &nbsp; <i class="fa-solid fa-users-gear" ></i> Manage Roles</a>
              </li>
            {% endif %}
  
            &nbsp;     &nbsp;     &nbsp; 

            <li class="nav-item">

            <a class="nav-link" href="{% url 'leads' %}">lead &nbsp; <i class="fa-solid fa-user-plus" aria-hidden="true"></i> </a> 
  
            </li>

            
            <li class="nav-item">
  
              <a class="nav-link" href="{% url 'user-logout' %}">Sign out &nbsp; <i class="fa fa-sign-out" aria-hidden="true"></i> </a>
  
            </li>

        </ul>
       


        <ul class="navbar-nav ms-auto align-items-center">
         <!-- PROFILE DROPDOWN -->
        <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle p-0" href="#" role="button"
         data-bs-toggle="dropdown" aria-expanded="false">

          <img src="{% if request.user.profile.profile_image %}
                    {{ request.user.profile.profile_image.url }}
                    {% else %}
                     /media/profiles/default.png
                    {% endif %}"
           class="rounded-circle border"
           width="40"
           height="40"
           style="object-fit: cover; cursor: pointer;">
          </a>

        <ul class="dropdown-menu dropdown-menu-end shadow">
          <li class="dropdown-item text-center">
           <img src="{% if request.user.profile.profile_image %}
                    {{ request.user.profile.profile_image.url }}
                    {% else %}
                     /media/profiles/default.png
                      {% endif %}"
                     class="rounded-circle mb-2"
                     width="60"
                     height="60"
                     style="object-fit: cover;">
           <div><strong>{{ request.user.username }}</strong></div>
          <small class="text-muted">{{ request.user.profile.role|title }}</small>
         </li>

         <li><hr class="dropdown-divider"></li>

        <li>
         <a class="dropdown-item" href="{% url 'profile' %}">
           <i class="fa-solid fa-user"></i> Profile
         </a>
        </li>

        <li>
          <a class="dropdown-item text-danger" href="{% url 'user-logout' %}">
          <i class="fa-solid fa-right-from-bracket"></i> Logout
          </a>
        </li>
      </ul>
      </li>
    </ul>

  
        {% else %}
  
        <li class="nav-item">
  
          <a class="nav-link" href="{% url 'register' %}"> Register </a>
  
        </li>
  
  
        &nbsp;     &nbsp;     &nbsp; 
  
  
        <li class="nav-item">
  
          <a class="nav-link" href="{% url 'my-login' %}">Login</a>
  
        </li>

        &nbsp;     &nbsp;     &nbsp; 

  

        {% endif %}

       

      
    
      </div>
      
  
  </nav>