{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<body>
       <div class="container bg-light shadow-md p-5 form-layout">
          <h3>Update lead</h3>

          <h6> Update your lead below. </h6>

         <hr>
         <br>

        <form method="POST" autocomplete="off">
            {% csrf_token %}

            {{ form.first_name|as_crispy_field }}
            {{ form.last_name|as_crispy_field }}
            {{ form.email|as_crispy_field }}
            {{ form.phone|as_crispy_field }}
            <!-- {{ form.status|as_crispy_field }} -->
            {{ form.assigned_to|as_crispy_field }}



             <p><strong>Status:</strong></p>

            {% if lead.is_converted %}
                <!-- LOCKED STATUS -->
            <select class="form-select form-select-sm mb-2" disabled>
            <option selected>Qualified</option>
            </select>
               <span class="badge bg-success">
               Qualified <i class="fa-solid fa-check"></i>
               </span>
               {% else %}
                <!-- EDITABLE STATUS -->
               <form method="POST" action="{% url 'update-lead' lead.id %}">
               <!-- <form method="POST"> -->
               {% csrf_token %}

                <select name="status" class="form-select form-select-sm w-50 mb-2">
                {% for key, value in status_choices %}
                    <option value="{{ key }}" {% if lead.status == key %}selected{% endif %}>
                        {{ value }}
                    </option>
                {% endfor %}
                </select>

                  <button type="submit" class="btn btn-outline-primary btn-sm">
                Update Status
                <i class="fa-solid fa-check"></i>
                 </button>
                 <button type="submit" class="btn btn-primary btn-sm"> Update lead &nbsp;<i class="fa-solid fa-check"></i> </button>
                 <a class="btn btn-primary btn-sm" href="{% url 'leads' %}"> Return &nbsp;<i class="fa-solid fa-arrow-left-long"></i></a>
                </form>
            {% endif %}



            <!-- {{ form.assigned_to|as_crispy_field }} -->
            <!-- {{ form|crispy }} -->
            <br>
            <!-- <button type="submit" class="btn btn-primary btn-sm"> Update lead &nbsp;<i class="fa-solid fa-check"></i> </button> -->
        </form> 
        </div>
    </body> 

{% endblock %}