{% extends 'webapp/base.html' %}

{% block content %}

   <div class="card">

        <div class="card-body">

            <i class="fas fa-user"></i> &nbsp;
            <strong>
            {{ lead.last_name|upper }} {{ lead.first_name }} </p>
            <p> <strong> last_name: </strong>{{ lead.last_name }} </p>
            <p> <strong> email: </strong>{{ lead.email }} </p>      
            <p><strong>phone: </strong>{{ lead.phone }}</p>
            <p><strong>status: </strong>{{ lead.status }}</p>
            <p><strong>assigned_to: </strong>{{ lead.assigned_to }}</p>
            <!-- <p><strong> Created At: </strong>{{ record.creation_date }}</p> -->
        </div>
   </div>

   <br>

      <a class="btn btn-secondary btn-sm" href="{% url 'leads' %}">
            
         Return &nbsp;<i class="fa-solid fa-arrow-left-long"></i>
      </a>
        &nbsp;
      {% if not lead.is_converted %}
      <a class="btn btn-info btn-sm" href="{% url 'update-lead' lead.id %}">

          Update lead &nbsp;<i class="fa-solid fa-pen-to-square"></i>
      </a>
      {% endif %}
        &nbsp;


      <form method="POST" onsubmit="return confirm('Are you sure you want to delete this user?');">
      <a class="btn btn-outline-primary btn-danger btn-sm" href="{% url 'delete-lead' lead.id %}">

          Delete lead &nbsp;<i class="fa-solid fa-trash-can"></i>
      </a>
      </form>

     {% if lead.is_converted %}    
              <button class="btn btn-success btn-sm w-10" disabled>
               Lead already converted
              <i class="fa-solid fa-check"></i>
              </button>

            {% elif lead.status == 'qualified' %}
                <a href="{% url 'convert-lead' lead.id %}"
                class="btn btn-success btn-sm w-10"
                title="Convert to Customer">
                Convert to Customer &nbsp;
                 <i class="fa-solid fa-right-left"></i>
                </a>
      {% endif %}
    <!-- {% if lead.status == 'qualified' %}
       <a href="{% url 'convert-lead' lead.id %}"
        class="btn btn-success btn-sm">
        Convert to Customer &nbsp;
       <i class="fa-solid fa-right-left"></i>
      </a>
    {% endif %} -->
{% endblock %}